################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chapter_02/.vs/chapter_02
/chapter_03/.vs
/chapter_02/.vs/ProjectEvaluation
